.containerstart {
  display:grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: minmax(25px,auto);
}

header {
  grid-column: 1/-1;
  grid-row:1/1;
}
.nav {
  grid-column: 1/-1;
  grid-row:2/3;
}

.responsive {
  grid-column: 1/-1;
  grid-row:auto;
}

.street {

  grid-column: 5/8;
  grid-row: 3/10;
  justify-content: center;
}

.street img {
    width: 100px;
}
